<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androiddemo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".jetpack.architecture.mvvm.ui.MvvmActivity"
            android:label="@string/title_activity_mvvm" />
        <activity
            android:name=".jetpack.architecture.navigation.NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".jetpack.architecture.databinding.BindingActivity" />
        <activity android:name=".jetpack.architecture.room.RoomActivity" />
        <activity android:name=".jetpack.architecture.viewmodel.ViewModelActivity" />
        <activity android:name=".jetpack.architecture.livedata.LiveDataActivity" />
        <activity android:name=".jetpack.architecture.lifecycle.LifecycleActivity" />
        <activity android:name=".jetpack.architecture.ArchActivity" />
        <activity android:name=".jetpack.JetpackActivity" />
        <activity
            android:name=".animation.reveal.RevealActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".recyclerview.RecyclerActivity" />
        <activity android:name=".animationtest.layoutanim.LayoutTransitionActivity" />
        <activity android:name=".animationtest.layoutanim.LayoutAnimationActivity" />
        <activity android:name=".animationtest.AnimActivity" />
        <activity android:name=".view.martix.BitmapActivity" />
        <activity android:name=".view.xfermode.XfermodeActivity" />
        <activity android:name=".view.shader.ShaderActivity" />
        <activity android:name=".view.canvas.CanvasActivity" />
        <activity android:name=".view.patheffect.PathEffectActivity" />
        <activity android:name=".view.ViewActivity" />
        <activity android:name=".surfaceview.SurfaceViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".scroller.ScrollerActivity" />
        <activity android:name=".viewdraghelper.DragActivity" />
        <activity
            android:name=".listview.ListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".drawable.DrawableActivity" />
        <activity android:name=".view.martix.colormartix.ColorMatrixActivity1" />
        <activity android:name=".view.martix.colormartix.ColorMatrixActivity2" />
        <activity android:name=".view.martix.martix.MatrixActivity" />
        <activity android:name=".view.martix.pixel.PixelActivity" />
        <activity android:name=".animationtest.animation.AnimationActivity2" />
        <activity android:name=".animationtest.animation.AnimationActivity1" />
        <activity android:name=".animationtest.animator.ValueAnimatorActivity" />
        <activity android:name=".animationtest.animator.ObjectAnimatorActivity" />
        <activity android:name=".animationtest.animator.ValuesHolderActivity" />
        <activity android:name=".animationtest.animator.AnimatorSetActivity" />
        <activity android:name=".animationtest.animator.XmlAnimatorActivity" />
        <activity android:name=".animation.ripple.RippleActivity" />
        <activity android:name=".animation.state.StateActivity" />
        <activity
            android:name=".material.ToolbarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".animation.transition.FromActivity" />
        <activity android:name=".animation.transition.ToActivity" />
    </application>

</manifest>